:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #1abc9c;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #e7aac8;
  --secondary: #bc8bb7;
  --tertiary: #dc82ae;
  --quaternary: #a96ba3;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Merriweather, "SB Body", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }
  
body {
    margin: 0;
    font-family: Merriweather,"SB Body",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary);
    background-color: #fff;
	text-align: center;
}
.bg-primary {
    background-color: var(--primary)!important
}
.bg-secondary {
    background-color: var(--secondary)!important
}
a {
    color: #cf33d6;
    text-decoration: none;
    background-color: transparent;
}
a.bg-primary:focus,a.bg-primary:hover,button.bg-primary:focus,button.bg-primary:hover {
    background-color: var(--tertiary)!important
}
a.bg-secondary:focus,a.bg-secondary:hover,button.bg-secondary:focus,button.bg-secondary:hover {
    background-color: var(--quaternary)!important
}
.nav-link {
	color: #fff;
	display: block;
	font-family: Caveat;
	font-size: x-large;
}
.navbar-nav .dropdown-menu{
	background-color: var(--secondary);
	border: 0;
}
.masthead .masthead-avatar {
    width: 15rem;
}
.text-secondary {
    color: var(--secondary)!important;
}
.d-inline-block {
    display: inline-block!important;
}
.page-section {
    padding: 6rem 0;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.text-center {
    text-align: center!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
	margin-top: 0;
    font-family: Caveat,"SB Heading",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}
.p {
	margin: 0;
    font-family: Merriweather,"SB Body",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: var(--secondary);
    border-radius: 1rem;
    border-color: var(--secondary)!important;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.page-section .page-section-heading, .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
}
.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.h-100 {
    height: 100%!important;
}
.bg-transparent {
    background-color: transparent!important;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: transparent;
    border-radius: 0.5rem;
    color: var(--secondary);
}
.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card, code {
    word-wrap: break-word;
}
.text-body-secondary {
    color: var(--secondary)!important;
}
.btn {
    display: inline-block;
    color: #212529;
    user-select: none;
    background-color: transparent;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-align: center;
}
.btn-secondary {
    color: #fff;
    background-color: #a93dae;
    border-color: #a93dae;
}
.btn, .btn-link, .dropdown-item, .form-control, .small, small {
    font-weight: 400;
}
.btn, img, svg {
    vertical-align: middle;
}
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--secondary);
    color: #fff;
}
.social {
    margin: 5px;
    color: #fff;
    font-size: x-large;
	text-decoration: none;
}
.copyright {
    background-color: var(--quaternary);
}
.text-left {
    text-align: left!important;
}
.align-items-center {
    align-items: center!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.order-last {
    order: 13;
}
.align-items-stretch {
    align-items: stretch!important;
}
.flex-shrink-0 {
    flex-shrink: 0!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.bg-white {
    background-color: #fff!important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
}
b, strong {
    font-weight: bolder;
}
.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}
.list-group-flush .list-group-item:first-child, .list-group-item+.list-group-item {
    border-top-width: 0;
}
.list-group-flush .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
}
.card>.list-group:first-child .list-group-item:first-child, .list-group-item:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.list-group-item {
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 0.125rem solid rgba(0,0,0,.125);
}
.border-bottom {
    border-bottom: 0.125rem solid #dee2e6!important;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.link-dark {
	color: var(--secondary)!important;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.lead {
    font-size: 1.5rem;
    font-weight: normal;
}
.address a {
	color: inherit;
    text-decoration: underline;
}
.searchBox {
  background-image: url('/css/search.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: auto 50%;
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}