:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #1abc9c;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --bs-secondary: #B560AC;
  --bs-secondary-rgb: rgb(181, 96, 172);
  --bs-primary: #EB76B1;
  --bs-primary-rgb:rgb(235, 118, 177);
  --bs-tertiary: #E68AB6;
  --bs-tertiary-rgb:rgb(230, 138, 182);
  --bs-quaternary: #c983c2;
  --bs-quaternary-rgb:rgb(201, 131, 194);
  --bs-emphasis-color: #B560AC;
  --bs-emphasis-color-rgb: rgb(181, 96, 172);
  --bs-table-striped-bg: #f7eef6;
  --bs-table-striped-bg-rgb: rgb(247, 238, 246);
  --success: #28a745;
  --bs-info: #c983c2;
  --bs-info-rgb:rgb(201, 131, 194);
  --warning: #ffc107;
  --danger: #dc3545;
  --bs-light: #efdced;
  --bs-light-rgb: rgb(239, 220, 237);
  --bs-dark: #452142;
  --bs-dark-rgb:rgb(69, 33, 66);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Merriweather, "SB Body", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
  }

*,
*::before,
*::after {
  box-sizing: border-box; }
  
body {
    margin: 0;
    font-family: Merriweather,"SB Body",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-secondary);
    background-color: #fff;
	text-align: center;
    padding-top: 6em; /* for navbar */ 
}

.bg-white {
    background-color: #fff!important;
	scrollbar-color: #efebeb #e3e0e0;
}
.bg-primary {
    background-color: var(--bs-primary)!important;
	scrollbar-color: #E390B9 #e7aac8;
}
.bg-secondary {
    background-color: var(--bs-secondary)!important
}
.bg-tertiary {
    background-color: var(--bs-tertiary)!important
}
.bg-quaternary {
    background-color: var(--bs-quaternary)!important
}
.bg-light {
    background-color: var(--bs-light) !important;
}
.callout {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
    border: var(--bs-dark) !important;
    border-width: 1;
    width: 75%;
    display: inline-block !important;
}
a {
    text-decoration: none;
    background-color: transparent;
	color: inherit !important;
    font-style: italic;
}
a.bg-primary:focus,a.bg-primary:hover,button.bg-primary:focus,button.bg-primary:hover {
    background-color: var(--bs-tertiary)!important
}
a.bg-secondary:focus,a.bg-secondary:hover,button.bg-secondary:focus,button.bg-secondary:hover {
    background-color: var(--bs-quaternary)!important
}
.nav-link {
	color: #fff;
	display: block;
	font-family: Caveat;
	font-size: x-large;
}
.navbar-nav .dropdown-menu{
	background-color: var(--bs-secondary);
	color: white;
	border: 0;
}
.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
	background-color: #d466c9;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
.masthead .masthead-avatar {
    width: 15rem;
}
.text-secondary {
    color: var(--bs-secondary)!important;
}
.d-inline-block {
    display: inline-block!important;
}
.page-section {
    padding: 6rem 0;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.text-center {
    text-align: center!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 1rem;
	margin-top: 2rem;
    font-family: Caveat,"SB Heading",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}
.h4, .h5, .h6, h4, h5, h6 {
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
    font-family: Caveat,"SB Heading",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}
.p {
	margin: 0;
    font-family: Merriweather,"SB Body",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: var(--bs-secondary);
    border-radius: 1rem;
    border-color: var(--bs-secondary)!important;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.page-section .page-section-heading, .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
}
.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.h-100 {
    height: 100%!important;
}
.bg-transparent {
    background-color: transparent!important;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: transparent;
    border-radius: 0.5rem;
    color: inherit;
}
.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card, code {
    word-wrap: break-word;
}
.text-body-secondary {
    color: var(--bs-secondary)!important;
}
.btn {
    display: inline-block;
    color: #212529;
    user-select: none;
    background-color: transparent;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-align: center;
}
.btn-secondary {
    color: #fff !important;
    background-color: #a93dae;
    border-color: #a93dae;
}
.btn-secondary:hover {
    color: #fff !important;
    background-color: #923597;
    border-color: #923597;
}
.btn, .btn-link, .dropdown-item, .form-control, .small, small {
    font-weight: 400;
}
.btn, img, svg {
    vertical-align: middle;
}
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--bs-secondary);
    color: #fff;
}
.social {
    margin: 5px;
    color: #fff;
    font-size: x-large;
	text-decoration: none;
}
.copyright {
    background-color: var(--bs-secondary);
}
.text-left {
    text-align: left!important;
}
.align-items-center {
    align-items: center!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.order-last {
    order: 13;
}
.align-items-stretch {
    align-items: stretch!important;
}
.flex-shrink-0 {
    flex-shrink: 0!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
}
b, strong {
    font-weight: bolder;
}
.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}
.list-group-flush .list-group-item:first-child, .list-group-item+.list-group-item {
    border-top-width: 0;
}
.list-group-flush .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
}
.card>.list-group:first-child .list-group-item:first-child, .list-group-item:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.card-title{
	margin-top: var(--bs-card-title-spacer-y);
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.list-group-item {
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 0.125rem solid rgba(0,0,0,.125);
}
.border-bottom {
    border-bottom: 0.125rem solid #dee2e6!important;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.link-dark {
	color: var(--bs-secondary)!important;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.lead {
    font-size: 1.5rem;
    font-weight: normal;
}
.address a {
	color: inherit;
    text-decoration: underline;
}
.searchBox {
  background-image: url('/css/search.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: auto 50%;
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
.scrolling-wrapper{
	overflow-x: auto;
  scrollbar-width: thin;
  /*scrollbar-color: #E390B9 #e7aac8;*/
}

/* Works on Chrome, Edge, and Safari */
.scrolling-wrapper::-webkit-scrollbar {
  width: 12px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
  background: #e7aac8;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: #E390B9;
  border-radius: 20px;
  border: 3px solid #E390B9;
}
.jotform-feedback-link{
	color: #FFFFFF!important;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.section-divider{
	width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 3em;
    margin-bottom: 1em;
}

.hanging-indent-list {
  list-style: circle; /* Or 'circle', 'square', etc. for your desired bullet style */
  padding-left: 1.5rem; /* Adjust this value to control the indent of the entire list item */
  text-align: left;
  display: inline-block;
  padding: 0;
}

.hanging-indent-list li {
  padding-left: 2em; /* Adjust this value to control the indent depth */
  text-indent: -2em; /* This negative value should match the padding-left */
}
.hanging-indent-list-emoji {
  list-style: none; /* Or 'circle', 'square', etc. for your desired bullet style */
  padding-left: 2rem; /* Adjust this value to control the indent of the entire list item */
  text-align: left;
  display: inline-block;
  padding: 0;
}

.hanging-indent-list-emoji li {
  padding-left: 1.5em; /* Adjust this value to control the indent depth */
  text-indent: -1.5em; /* This negative value should match the padding-left */
}

.article-body {
    margin: 4em;
}
.article-body img {
    width: 70%;
}
.article-body ul {
	list-style: circle; /* Or 'circle', 'square', etc. for your desired bullet style */
	padding-left: 1.5rem; /* Adjust this value to control the indent of the entire list item */
	text-align: left;
	display: inline-block;
	padding: 0;
}
.aritcle-body li {
	padding-left: 2em; /* Adjust this value to control the indent depth */
	text-indent: -2em; /* This negative value should match the padding-left */
}
.article-body blockquote {
	background: var(--bs-light);
    border: var(--bs-dark);
    border-width: 1px;
    border-radius: var(--bs-border-radius) !important;
    padding: 1em;
}