---
layout: default
title: Party Packages & Pricing
permalink: /packages/
description: Choose the perfect princess or superhero party package for your Calgary event. From 60-minute birthday visits to corporate meet and greets.
---
<div class="container bg-primary text-white">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold">Party Packages & Pricing</h1>
		<p>Our party packages are crafted to make your little one's special day truly enchanting. Choose from a treasure trove of themes, including princess extravaganzas, wizardry wonders, and high-seas adventures. Dive into a world where imagination knows no bounds, and every party is a personalized masterpiece. We sprinkle our events with a pinch of pixie dust to ensure your child's joy is as boundless as the Alberta skies. From captivating characters to whimsical wonders, Pixies Parties is your ticket to unforgettable celebrations in Calgary. Let's turn moments into memories – book your party today and let the enchantment begin!</p>
	</div>

	<!-- MAIN PACKAGES ROW -->
	<div class="row justify-content-md-center g-2">
		{% for post in site.data.packages.packages %}
		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card p-1 h-100 bg-white text-secondary">
				<img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
				<div class="card-header bg-white">
					<h3 class="card-title">{{ post.title }}</h3>
					<h4 class="card-subtitle">{{ post.duration }}</h4>
					<h5 class="card-subtitle">{{ post.price | markdownify }}</h5>
				</div>
				<div class="card-body">
					<p class="card-subtitle">{{ post.description }}</p>
					<ul class="list-unstyled mt-3 mb-4 text-start mx-auto">
						{% for f in post.features %}
						<li class="mb-2">{{ f.icon }} {{ f.detail }}</li>
						{% endfor %}
					</ul>
				</div>
				<!-- <div class="card-footer bg-white">
						<a class="btn btn-secondary c1 mt-4" aria-label="book now" target="_blank" href="{{ post.url }}">Book Now!</a>
					</div> -->
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="row w-100 justify-content-center col">
		<a class="btn btn-secondary c1" style="margin-top: 12px;" aria-label="book your party today" href="/#booking">Book Your Party Today!</a>
	</div>

	<div class="card bg-white text-secondary my-3">
		<h2 class="card-title">Which Package is Right for You?</h2>
		<div class="card-body">
			{% for post in site.data.packages.packages %}
			<div class="mb-4">
				<h3 class="text-secondary fw-bold">{{ post.title }} ({{ post.duration }})</h3>
				<p class="text-muted">{{ post.details | markdownify }}</p>
			</div>
			{% endfor %}

			<div class="p-4 bg-light rounded-3">
				<h4 class="text-secondary text-dark">Need a Custom Timeline?</h4>
				<p class="mb-0 text-muted">
					We know every party is unique!
					If you have a specific activity in mind just let us know during booking. We are happy to swap out standard activities (like the craft) to accommodate your specific traditions.
				</p>

				<a href="/contact/" class="btn btn-secondary c1 mt-4">Contact Pixies Parties</a>
			</div>
		</div>
	</div>

	<div class="container" id="addons">
		<div class="text-center">
			<h2 class="page-section-heading d-inline-block">
				<i class="fa-solid fa-star" style="font-size: medium;vertical-align: middle;"></i> Add-Ons <i class="fa-solid fa-star" style="font-size: medium;vertical-align: middle;"></i>
			</h2>
		</div>
		<div class="row justify-content-md-center g-2">
			{% for post in site.data.packages.addons %}
			<div class="col-12 col-md-6 col-lg-4 col-xl-3">
				<div class="card p-1 h-100 bg-white text-secondary">
					<img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
					<div class="card-body">
						<h3 class="card-title">{{ post.title }}</h3>
						<p class="card-text">{{ post.description | markdownify }}</p>
						<h5 class="card-title">{{ post.price | markdownify }}</h5>
					</div>
					<div class="card-footer  bg-white text-secondary border-0">
						{% if post.url %}
						<a class="btn btn-secondary w-100" aria-label="more info" href="{{ post.url }}">{{ post.linktext }}</a>
						{% endif %}
					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>

	<!-- BOOKING INFO -->
	<div class="card bg-white text-secondary my-3">
		<div class="row mb-3">
			<div class="col">
				<h3 class="fw-bold text-secondary">Ready to make magic happen?</h3>
				<p class="mb-0">We recommend booking 4-6 weeks in advance to secure your preferred character and time slot. A $100 deposit is required to hold your date.</p>

				<a href="/#booking" class="btn btn-secondary c1 mt-4">Check Availability</a>
			</div>
		</div>
	</div>
</div>
{% include packages-schema.html %}