---
layout: default
title: Reviews | Pixies Parties
permalink: /reviews/
description: See why Calgary parents give us 5 stars! Read real reviews about our professional performers, beautiful costumes, and the magic we bring to every birthday.
---
      <div class="text-center">
        <h1 class="page-section-heading d-inline-block">
         <i class="fa-solid fa-star" style="font-size: medium;vertical-align: middle;"></i> Reviews <i class="fa-solid fa-star" style="font-size: medium;vertical-align: middle;"></i>
        </h1>
      </div>
      <div class="container d-flex align-items-center flex-column">
        <p>
          See why Calgary parents give us 5 stars! Read real reviews about our professional performers, beautiful costumes, and the magic we bring to every birthday.
        </p>
        <div class="row row-cols-1 g-4 justify-content-md-center">
		
			{% for post in site.data.reviews %}
				  <div class="col">
					  <div class=" card h-100 border-0  bg-white text-secondary">
						  <div class="card mb-3">
							  <div class="row gy-0">
								<div class="col-md-4">
									<h4 class="card-title">{{ post.name }}</h4>
									<h5 class="card-subtitle mb-2 text-body-white">{{ post.date | date: "%B %d %Y" }}</h5>
									{% for s in (1..post.rating) %}
										<i class="fa-solid fa-star" style="vertical-align: baseline;color: gold;" ></i>
									{% endfor %}
									{{ s.rating}}
									</h5>
								</div>
								<div class="col-md-6">
								  <div class="card-body">
									<p class="card-text">{{ post.text }}</p>
								  </div>
								</div>
							  </div>
							</div>
						
						<div class="card-footer text-end  bg-transparent border-0">
						<a href="https://maps.app.goo.gl/SuBtJsi9FTQ4v3bPA" target="_blank" class="stretched-link">See more</a>
						</div>
					  </div>
				  </div>
			{% endfor %}  		  
		</div>
		
		<div class="row w-100 justify-content-center col">
          <a class="btn btn-secondary c1" style="margin-top: 12px;" aria-label="book your party today" href="/#booking">Book Your Party Today!</a>
        </div>
      </div>
