<script src="https://form.jotform.com/static/feedback2.js"></script>
<script>
var componentID = new JotformFeedback({
  
type: false,
width: 700,
height: 500,
fontColor: "#FFFFFF",
background: "#BF72B7",
isCardForm: false,
formId: "233449002535249"
,
  buttonText: "Contact",
  buttonSide: "right",
  buttonAlign: "bottom",
  base: "https://form.jotform.com/",
}).componentID;
</script>
<script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
<script>window.jotformEmbedHandler("iframe[id='" + componentID + "_iframe']", "https://form.jotform.com/")</script>
    