
	<nav class="navbar fixed-top bg-body-tertiary text-white navbar-expand-lg bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/assets/img/logowhite.webp" alt="Logo" height="80" class=
        "d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/#page-top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/characters">Characters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/packages">Party Packages</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/#reviews">Reviews</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/about">About</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">Contact</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/events">Special Events</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/cancellation">Cancellation Policy</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/faq">FAQ</a>
                </li>
			</ul>
            </li>
            <li class="nav-item">
              <a class="nav-link bi-instagram social" target="_blank" href="https://www.instagram.com/pixiesparties/"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi-tiktok social" target="_blank" href="https://www.tiktok.com/@pixiesparties"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi-facebook social" target="_blank" href="https://www.facebook.com/pixiespartiesco/"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
