<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "EntertainmentBusiness",
  "name": "Pixies Parties",
  "image": [
	"https://www.pixiesparties.ca/assets/img/characters/cindy.webp",
	"https://www.pixiesparties.ca/assets/img/characters/bellereading.webp",
	"https://www.pixiesparties.ca/assets/img/characters/arielballoons.webp"
   ],
   "founder": {
	"@type": "Person",
	"name": "Erin Mackey"},
   "keywords": [
	"princess party",
	"kids party",
	"birthday party",
	"princess",
	"childrens party",
	"party entertainer",
	"superhero",
	"Harry Potter",
	"yyc princess"
   ],
"email":"contact@pixiesparties.ca",
"telephone": "5872164686",
   "logo": "https://www.pixiesparties.ca/assets/img/logo.webp",
   "priceRange": "$$",
   "address": {
	 "@type": "PostalAddress",
	 "streetAddress": "1600 90 Ave SW",
	 "addressLocality": "Calgary",
	 "addressRegion": "AB",
	 "postalCode": "T2V 5A8",
	 "addressCountry": "CA"
   },
  "geo": {
	"@type": "GeoCoordinates",
	"latitude": 50.9735634,
	"longitude": -114.0992811
  },
   "openingHoursSpecification": [
		{
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": [
		  "Sunday",
		  "Monday",
		  "Tuesday",
		  "Wednesday",
		  "Thursday",
		  "Friday",
		  "Saturday"
		  ],
		"opens": "10:00",
		"closes": "22:00"
		}
	]
}
</script>
