<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/assets/img/logo.webp">
    <!-- Use the article's 'title' variable -->
    <title>{{ page.title }} | Pixie's Parties</title>    
	
	{% include scripts.html %} 
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org/",
	  "@type": "Product",
	  "name": "Hire {{ page.name }} Character in Calgary",
	  "image": [
		"{{ site.url }}{{ page.img1 }}"
	   ],
	  "description": "{{ page.summary }}",
	  "sku": "CHAR-{{ page.name | slugify | upcase }}",
	  "brand": {
		"@type": "EntertainmentBusiness",
		"name": "{{ site.title | default: 'Pixies Parties' }}"
	  },
	  "offers": {
		"@type": "Offer",
		"url": "{{ site.url }}{{ page.url }}",
		"priceCurrency": "CAD",
		"price": "250.00",
		"priceValidUntil": "2026-12-31",
		"itemCondition": "https://schema.org/NewCondition",
		"availability": "https://schema.org/InStock",
		"seller": {
		  "@type": "Organization",
		  "name": "Pixies Parties"
		}
	  }
	}
	</script>
</head>
<body class="bg-primary">
    {% include navbar.html %}

	<main class="container my-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="bg-white text-secondary rounded p-3">
					<div class="article-body">
						{{ content }}
					</div>					
					{% include packages-mini.html %}
				</div>
                <div class="mt-5">
                    <a href="/characters/" class="btn btn-secondary">← Back to Characters</a>
                </div>
            </div>
			
            <div class="col-lg-3 d-none d-lg-block">
                <div class="sticky-top sticky-sidebar bg-white p-4 rounded-3 shadow-sm border border-quaternary">
                    <h3 class="fw-bold text-secondary mb-3">Characters</h3>
                    
                    <ul class="list-unstyled">
                        {% for c in site.characters %}                            
							<li class="mb-3 border-bottom pb-2">
								<a href="{{ c.url | relative_url }}" class="text-decoration-none fw-medium">
									{{ c.title | truncatewords: 8 }}
								</a>
							</li>
                        {% endfor %}
                    </ul>
                    
                    <a href="/characters/" class="btn btn-sm btn-secondary w-100 mt-2">View All Characters</a>
                </div>
            </div>            
        </div>
    </main>
	
    {% include footer.html %}
  </div>
</div>
    
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>