<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="canonical" href="{{site.url}}{{page.url}}">
  <meta name="description" content="{{page.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include scripts.html %}
  {% include schema.html %}
</head>

<body id="page-top" class="bg-primary text-white d-flex flex-column min-vh-100">
  {% include navbar.html %}
  {% include masthead.html %}
  <div class="container bg-primary text-white" id="about">
    <div class="container m-3">
      <div class="bg-white text-secondary rounded p-5">
        <style>
          img {
            max-width: 60%;
            height: auto;
          }
        </style>
        {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>